$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$fa-font-path: "../fonts/";

// bower:scss
@import "font-awesome/font-awesome.scss";

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

@import "_tabs.scss";


@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

$colorYo: #995BB3;
$size: 180px; 
  
*{
	box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  float: left;
}

body{
  background: $colorYo;
  color: #fff;
  text-align: center; 

  .container{
  	width: 100%;
  	float: left;
  	min-height: 620px;
  }
  p,h1,h2,h3,a{
    font-family:  'Oxygen', sans-serif;
  }
  code{
        font-family: 'Source sans Pro', helvetica, sans-serif;
        background: transparent;
        color: #fff;
        border: 1px solid ;
  } 
  input{
    appearance: none;
    border: 1px solid #fff; 
    padding: .2em;
    background: transparent; 
    border-radius: 3px; 
    color: #fff;
  }
  small{
  	color: inherit;
  }

  a#yo{ 
    color: #fff;   
    display: block;
    @include centered;
    text-decoration: none;
    max-width: $size; 
    width: 100%;
    min-height: $size; 
    background: transparent; 
    border: 1px solid; 
    border-radius: 4px; 
    line-height: $size;
    margin-top: 3em;
    
    &:hover{ 
      background: #ffffff;
      color: $colorYo; 
      border-color: #fff; 
    }
  }


  footer{
  	width: 100%;
  	float: left; 
  	text-align: center;

  	a{color: #fff;
  		&:hover{
  			color: #ccc;
  		}
  	}
  }
}